<section class="mb-4">
    <h1 class="mb-3">Аудио Книги</h1>
    <%- include('components/books'), {books: books} %>
</section>
<section class="mb-5"><%- include('components/pagination'), {pagination: pagination} %></section>
<section><%- include('components/last-reviews'), {latestReviews, latestReviews} %></section>