<section class="mb-4"><%- include('components/books'), {books: books} %></section>
<section class="mb-5"><%- include('components/pagination'), {pagination: pagination} %></section>
<section><%- include('components/last-reviews'), {latestReviews, latestReviews} %></section>