<header class="bg-body-tertiary py-3 header border-bottom">
    <div class="container d-flex justify-content-between align-items-center gap-3">
        <a href="/"><i class="bi bi-house fs-3"></i></a>
        <div class="input-group search">
            <input type="text" class="form-control" placeholder="Поиск">
            <button class="btn btn-primary header__serch"><i class="bi bi-search"></i></button>
        </div>
        <button id="menu-btn"><i class="bi bi-list fs-3"></i></button>
    </div>
</header>